<div class="container">
<div class="row">
	<div class="col-md-6">
		<div class="widget">
			<div class="widget-head">
			  <div class="pull-left" height="80">
			  编辑deal			  </div>
			  <div class="widget-icons pull-right">
				<a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
				<a href="#" class="wclose"><i class="icon-remove"></i></a>
			  </div>  
			  <div class="clearfix"></div>
			</div>  
			<div class="widget-content" >
			<div class="padd">
				<div class="form quick-post">
							  <div class="form-horizontal">                        
								  <div class="form-group">
									<form class="form-horizontal" method="post">
	 <input type="hidden" name="id" value="{$deal.id}" /><div class="form-group">
		<label class="col-sm-2 control-label" for="deal_sn">deal_sn</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="deal_sn" name="deal_sn" id="deal_sn"  value="{$deal.deal_sn}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="name">name</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="name" name="name" id="name"  value="{$deal.name}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="sub_name">sub_name</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="sub_name" name="sub_name" id="sub_name"  value="{$deal.sub_name}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="cate_id">cate_id</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="cate_id" name="cate_id" id="cate_id"  value="{$deal.cate_id}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="c_id">c_id</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="c_id" name="c_id" id="c_id"  value="{$deal.c_id}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="description">description</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="description" name="description" id="description"  value="{$deal.description}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="is_effect">is_effect</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="is_effect" name="is_effect" id="is_effect"  value="{$deal.is_effect}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="is_delete">is_delete</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="is_delete" name="is_delete" id="is_delete"  value="{$deal.is_delete}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="sort">sort</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="sort" name="sort" id="sort"  value="{$deal.sort}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="type_id">type_id</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="type_id" name="type_id" id="type_id"  value="{$deal.type_id}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="icon">icon</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="icon" name="icon" id="icon"  value="{$deal.icon}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="borrow_amount">borrow_amount</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="borrow_amount" name="borrow_amount" id="borrow_amount"  value="{$deal.borrow_amount}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="repay_time">repay_time</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="repay_time" name="repay_time" id="repay_time"  value="{$deal.repay_time}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="rate">rate</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="rate" name="rate" id="rate"  value="{$deal.rate}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="loantype">loantype</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="loantype" name="loantype" id="loantype"  value="{$deal.loantype}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="create_time">create_time</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="create_time" name="create_time" id="create_time"  value="{$deal.create_time}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="update_time">update_time</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="update_time" name="update_time" id="update_time"  value="{$deal.update_time}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="repay_money">repay_money</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="repay_money" name="repay_money" id="repay_money"  value="{$deal.repay_money}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="repay_start_time">repay_start_time</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="repay_start_time" name="repay_start_time" id="repay_start_time"  value="{$deal.repay_start_time}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="last_repay_time">last_repay_time</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="last_repay_time" name="last_repay_time" id="last_repay_time"  value="{$deal.last_repay_time}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="next_repay_time">next_repay_time</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="next_repay_time" name="next_repay_time" id="next_repay_time"  value="{$deal.next_repay_time}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="deal_status">deal_status</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="deal_status" name="deal_status" id="deal_status"  value="{$deal.deal_status}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="is_check">is_check</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="is_check" name="is_check" id="is_check"  value="{$deal.is_check}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="enddate">enddate</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="enddate" name="enddate" id="enddate"  value="{$deal.enddate}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="services_fee">services_fee</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="services_fee" name="services_fee" id="services_fee"  value="{$deal.services_fee}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="publish_wait">publish_wait</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="publish_wait" name="publish_wait" id="publish_wait"  value="{$deal.publish_wait}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="send_three_msg_time">send_three_msg_time</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="send_three_msg_time" name="send_three_msg_time" id="send_three_msg_time"  value="{$deal.send_three_msg_time}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="is_send_contract">is_send_contract</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="is_send_contract" name="is_send_contract" id="is_send_contract"  value="{$deal.is_send_contract}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="repay_time_type">repay_time_type</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="repay_time_type" name="repay_time_type" id="repay_time_type"  value="{$deal.repay_time_type}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="risk_rank">risk_rank</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="risk_rank" name="risk_rank" id="risk_rank"  value="{$deal.risk_rank}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="risk_security">risk_security</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="risk_security" name="risk_security" id="risk_security"  value="{$deal.risk_security}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="manage_fee">manage_fee</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="manage_fee" name="manage_fee" id="manage_fee"  value="{$deal.manage_fee}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="manage_impose_fee_day1">manage_impose_fee_day1</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="manage_impose_fee_day1" name="manage_impose_fee_day1" id="manage_impose_fee_day1"  value="{$deal.manage_impose_fee_day1}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="manage_impose_fee_day2">manage_impose_fee_day2</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="manage_impose_fee_day2" name="manage_impose_fee_day2" id="manage_impose_fee_day2"  value="{$deal.manage_impose_fee_day2}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="impose_fee_day1">impose_fee_day1</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="impose_fee_day1" name="impose_fee_day1" id="impose_fee_day1"  value="{$deal.impose_fee_day1}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="impose_fee_day2">impose_fee_day2</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="impose_fee_day2" name="impose_fee_day2" id="impose_fee_day2"  value="{$deal.impose_fee_day2}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="delete_msg">delete_msg</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="delete_msg" name="delete_msg" id="delete_msg"  value="{$deal.delete_msg}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="user_bid_rebate">user_bid_rebate</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="user_bid_rebate" name="user_bid_rebate" id="user_bid_rebate"  value="{$deal.user_bid_rebate}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="guarantor_pro_fit_amt">guarantor_pro_fit_amt</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="guarantor_pro_fit_amt" name="guarantor_pro_fit_amt" id="guarantor_pro_fit_amt"  value="{$deal.guarantor_pro_fit_amt}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="guarantor_real_fit_amt">guarantor_real_fit_amt</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="guarantor_real_fit_amt" name="guarantor_real_fit_amt" id="guarantor_real_fit_amt"  value="{$deal.guarantor_real_fit_amt}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="view_info">view_info</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="view_info" name="view_info" id="view_info"  value="{$deal.view_info}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="repay_start_date">repay_start_date</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="repay_start_date" name="repay_start_date" id="repay_start_date"  value="{$deal.repay_start_date}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="bad_date">bad_date</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="bad_date" name="bad_date" id="bad_date"  value="{$deal.bad_date}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="contract_id">contract_id</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="contract_id" name="contract_id" id="contract_id"  value="{$deal.contract_id}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="tcontract_id">tcontract_id</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="tcontract_id" name="tcontract_id" id="tcontract_id"  value="{$deal.tcontract_id}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="is_hidden">is_hidden</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="is_hidden" name="is_hidden" id="is_hidden"  value="{$deal.is_hidden}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="attachment">attachment</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="attachment" name="attachment" id="attachment"  value="{$deal.attachment}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="tattachment">tattachment</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="tattachment" name="tattachment" id="tattachment"  value="{$deal.tattachment}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="is_index_show">is_index_show</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="is_index_show" name="is_index_show" id="is_index_show"  value="{$deal.is_index_show}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="loans_pic">loans_pic</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="loans_pic" name="loans_pic" id="loans_pic"  value="{$deal.loans_pic}" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="admin_id">admin_id</label>
		<div class="col-md-6">
			<input type="text" class="form-control" placeholder="admin_id" name="admin_id" id="admin_id"  value="{$deal.admin_id}" />
		</div>
	</div>
		<div class="form-group">
		<div class="col-md-2 col-md-offset-2">
			<input type="submit" value="提交" class="btn btn-default" />
		</div>
	</div>
</form>								  </div>              
							  </div>
				</div><!--end  paddad-->
			</div>
		</div>	
		</div>	
	</div>
</div>
</div>