<extend name="Public:base" />
<block name="content">

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				修改权限
				<small>{$ainfo.auth_name}</small>

			</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<form action="__SELF__" method="POST" class="form-horizontal" role="form">

		<div class="form-group">
			<label for="">权限名称</label>
			<input type="text" class="form-control" name="auth_name" id="auth_name" value="{$ainfo.auth_name}"></div>
		<div class="form-group">
			<label for="">权限父级</label>
			<select name="auth_pid" id="auth_pid" class="form-control" >
				<option value="0">请选择</option>
				<volist name="info" id="v">
					<option value="{$key}" <if condition="$key eq $ainfo['auth_id']">
							 selected = 'selected' 
					</if>  >{$v}</option> 
				</volist>
			</select>
			</div>
		<div class="form-group">
			<label for="">权限控制器</label>
			<input type="text" class="form-control" name="auth_c" id="auth_c" value="{$ainfo.auth_c}"></div>
		<div class="form-group">
			<label for="">权限操作方法</label>
			<input type="text" class="form-control" name="auth_a" id="auth_a" value="{$ainfo.auth_a}"></div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</block>
